body {
  background-color: aquamarine;
  text-align: center;
  padding: 5%;
  font-family: fantasy;
}


title {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

p.entry {
  border-width: 2px;
  border-style: groove;
  padding: 5px;
  border-color: #9E9E9E;
}